#tweets {
  ul {
    @extend %zero-list;
    li {
      display: block;
      p {
        @include ellipsis;
        white-space: normal;
      }
    }
  }
  .interact {
    display: none;
  }
  .user {
    img {
      display: none;
    }
    span > span { display: none; }
  }
}
.tweet {
  margin-bottom: calc-em(16px);
  .tweet-content {
    margin-bottom: calc-em(6px);
    p {
      @include ellipsis;
      white-space: inherit;
    }
  }
}

.instagram-photos {
  @extend %zero-list;
  @extend %group;
  text-align: justify;
  font-size: .1px;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .photo {
    display: inline-block;
    font-size: calc-em(16px, .1px);
    width: 15%;
    margin-bottom: calc-em(16px);
    img {
      border: 5px solid $white;
      width: calc-em(75px, 16px);
      height: calc-em(75px, 16px);
    }    
  }
}


.form-control {
  @include border-radius(0);
  @include box-shadow(none);
  border: none;
  height: 39px;
  .input-group & {
    @include border-radius(0);
  }
}

.btn {
  @include border-radius(0);
  @include box-shadow(none);
  font-family: $font-family-display;
  text-transform: uppercase;
  color: $white;
  border: none;
  text-shadow: none;
  font-size: calc-em(28px);
  line-height: calc-em(40px, 28px);
  padding: 0 calc-em(30px, 28px);
  &:hover {
    color: $white;
  }
  &.btn-default {
    background: $red;
    &:hover {
      background: darken($red, 5%);
    }
  }
}


.beer-stats {
  border-width: 5px;
  border-style: solid;
  font-family: $font-family-display;
  font-size: calc-em(32px);
  th {
    color: $black;
    text-transform: uppercase;
  }

  tbody {
    > tr > th,
    > tr > td {
      border: none;
      &.glass {
        padding: calc-em(20px, 32px) calc-em(30px, 32px);
      }
      &.abv-label {
      
      }
      &.abv-amount {
      }
      &.space {
        width: calc-em(150px, 32px);
      }
    }
  }
  .ingredients {
    font-size: calc-em(16px, 32px);
    font-family: $font-family-base;
    &.hops {
      padding-top: calc-em(18px, 16px);
    }
  }
  .numbers {
    text-transform: uppercase;
  }
}


.photo-grid {
  @extend %responsively-space;
  li {
    width: 33.333333%;
    border: 1px solid $black;
    a {
      display: block;
    }
    img {
      width: 100%;
    }
    &.empty {
      &:nth-of-type(1n) {
        opacity: .3;  
      }
      &:nth-of-type(2n) {
        opacity: .6;  
      }
      &:nth-of-type(3n) {
        opacity: .1;  
      }
    }
  }

}


.collage {
  overflow: hidden;
}
.collage-row {
  @extend %zero-list;
  width: 14000px;
  @extend %group;
  position: relative;
  li {
    float: left;
  }
  img {
    border: 2px solid $black;
  }
  a {
    display: block;
    -webkit-filter: grayscale(1);    
    @include transition(all .2s linear);
    &:hover {
      -webkit-filter: none;
    }
  }
  &.offset {
    left: -150px;
  }
}
