@import "partials/base";
@import "pages/home";

// Global
// --------------------------------------------------
html {
  font-size: 100%;
}

body {
  background: $body-bg;
  color: $text-color;
  line-height: 1.5;
  font-size: 100%;
  font-family: $font-family-base;
}

%container {
  @include container;
}


// Typography
// --------------------------------------------------
h1, h2, h3,
h4, h5, h6 {
  line-height: 1.25;
  margin: 0 0 1em 0;
  font-family: $font-family-display;
  text-transform: uppercase;
}

h1 {
  font-size: calc-em(60px);
}

h2 {

}

h3 {

}

h4 {
  margin-bottom: .25em;
  text-transform: uppercase;
}

h5 {
  font-size: calc-em(18px);
  margin-bottom: .25em;
  text-transform: uppercase;
}

p {
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
}

// Links
// --------------------------------------------------

a {
  color: $red;
}


// Header
// --------------------------------------------------
.site-header {
  @extend %group;
  color: $gray-lighter;
} //page-header

.header-toolbar {
  background: $gray-dark; 
  .toolbar-content {
    @extend %container;
    @extend %group;
    padding-top: calc-em(6px);
    padding-bottom: calc-em(6px);
  } //toolbar-content 
  .taproom-hours {
    @include span-columns(6);
    font-size: calc-em(13px);
    line-height: calc-em(23px, 13px);
    text-transform: uppercase;
    span {
      text-transform: none;
    }
  } //taproom-hours
  .social-nav {
    width: calc-em(110px);
    float: right;
  } //social-nav
  .social-links {
    @extend %zero-list;
    li {
      width: calc-em(18px);
      height: calc-em(18px);
      @include background(transparent image-url('sprites/spr-social.png') no-repeat 0 0);
      text-indent: -9999px;
      &.facebook {
        background-position: 0 0;
      }
      &.foursquare {
        background-position: 0 -25px;
      }
      &.google {
        background-position: 0 -52px;
      }
      &.twitter {
        background-position: 0 -78px;
      }
      &.yelp {
        background-position: 0 -104px;
      }
    }
  } //social-links
} //header-toolbar

// Navbar
// --------------------------------------------------
.navbar {
  background: $gray-darker;
} //navbar

.navbar-inner {
  @extend %container;
  background: none;
  @include box-shadow(none);
  @include border-radius(0);
  border: none;
} //navbar-inner

.main-nav {
  @extend %zero-list;
  font-size: .1px;
  text-align: justify;
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
  li {
    display: inline-block;
    width: 25%;
  }
  a {
    display: block;
    color: $white;
    text-transform: uppercase;
    font-size: calc-em(24px, .1px);
    line-height: calc-em(36px, 24px);
    font-family: $font-family-display;
  }
} //main-nav

// Main Content
// --------------------------------------------------

.main-content {
  @extend %container;
  /*@include susy-grid-background; */
  margin-bottom: calc-em(64px);
} //main-content

// Footer
// --------------------------------------------------
.site-footer {
  background: $white;
  padding: calc-em(32px) 0;
  .footer-content {
    @extend %container;
    @extend %group;
  }
  .footer-nav-item {
    @include span-columns(4);
    @include nth-omega(3n);
  } //footer-nav-item
  .nav-item-header {
    h4 {
      letter-spacing: 3px;
      color: $black;
      font-size: calc-em(23px);
    }
  }
  .nav-item-body {
    color: $red;
   > ul {
      @extend %zero-list;
      > li {
        display: block;
        text-transform: uppercase;
        font-family: $font-family-display;
        margin-bottom: calc-em(16px);
      }
      p {
        margin: 0;
      }
    } //ul
  } //nav-item-body
  .social-links {
    @extend %zero-list;
  }
}
