@import "partials/base";
@import "pages/community";
@import "pages/home";
@import "pages/interior";
@import "pages/beers";
@import "pages/happy-amber";
@import "pages/psychopathy";
@import "pages/gnarly-brown";
@import "pages/identity-crisis";
@import "pages/axis-mundi";
@import "pages/taproom";

// Global
// --------------------------------------------------
html {
  font-size: 100%;
}

body {
  background: $body-bg image-url("backgrounds/subtle_carbon.png") repeat top left;
  color: $text-color;
  line-height: 1.5;
  font-size: 100%;
  font-family: $font-family-base;
}

%container {
  @include container;
}

img {
  max-width: 100%;
}

// Typography
// --------------------------------------------------
h1, h2, h3,
h4, h5, h6 {
  line-height: 1.25;
  margin: 0 0 1em 0;
  font-family: $font-family-display;
  text-transform: uppercase;
} //h1, h2, h3, h4, h5, h6

h1 {
  font-size: calc-em(60px);
}


h3 {
  font-size: calc-em(32px);
  margin: 0 0 calc-em(8px, 32px);
}

h4 {
  margin-bottom: .25em;
  font-size: calc-em(24px);
}

h5 {
  font-size: calc-em(18px);
  margin-bottom: .25em;
  text-transform: uppercase;
}

p {
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
  &.disclaimer {
    font-size: calc-em(12px);
    margin-bottom: 0;
  }
} //p

// Links
// --------------------------------------------------

a {
  color: $red;
}

// Header
// --------------------------------------------------
.site-header {
  @extend %group;
  color: $gray-lighter;
  @include respond-to(41.25em) {
    margin-bottom: calc-em(24px); 
  }
} //page-header

.header-toolbar {
  background: $gray-dark; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include respond-to(41.25em) {
    position: static;
    top: auto;
    left: auto;
    right: auto;
  }
  .toolbar-content {
    @extend %container;
    @extend %group;
    padding-top: calc-em(6px);
    padding-bottom: calc-em(6px);
  } //toolbar-content 
  .taproom-hours {
    font-size: calc-em(11px);
    line-height: calc-em(23px, 11px);
    .more-text {
      display: none;
      @include respond-to(33.125em) {
        display: inline;
      }
    } //more-text
    strong {
      color: $white;
    }
    @include respond-to(33.125em) {
      font-size: calc-em(13px);
      @include span-columns(8);
    }
    .day {
      @include respond-to(33.125em) {
        display: inline-block;
        margin-right: calc-em(6px, 11px);
      } 
    }
  } //taproom-hours
  .social-nav {
    display: none;
    @include respond-to(33.125em) {
      display: block;
      width: calc-em(110px);
      float: right;
    }
  } //social-nav
  .social-links {
    @extend %zero-list;
    li {
      width: calc-em(18px);
      height: calc-em(18px);
      @include background(transparent image-url('sprites/spr-social.png') no-repeat 0 0);
      text-indent: -9999px;
      @include image-2x("sprites/spr-social.png", calc-em(20px), calc-em(20px));
      &.facebook {
        background-position: 0 0;
      } //facebook
      &.untappd {
        background-position: 0 -24px;
      } //untappd
      &.twitter {
        background-position: 0 -49px;
      } //twitter
      &.yelp {
        background-position: 0 -76px;
      } //yelp
    } //li
  } //social-links
  .interior & {
    @include respond-to(41.25em) {
      margin-bottom: calc-em(110px);
    }
  } //interior
} //header-toolbar

// Navbar
// --------------------------------------------------
.navbar {
  position: fixed;
  top: calc-em(35px);
  left: 0;
  right: 0;
  min-height: calc-em(60px);
  z-index: 101;
  background: $gray-darker;
  @include respond-to(41.25em) {
    min-height: 0;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin-bottom: 0;
  }
  .interior & {
    margin-bottom: 0;
    @include respond-to(41.25em) {
      padding: calc-em(30px) 0 0 0;
    }
    @include respond-to(55.625em) {
      padding: calc-em(30px) 0;
    }
  } //interior
  &.section-navbar {
    padding: 0;
    margin-bottom: calc-em(48px);
  } //section-navbar
  .nav-toggle {
    position: absolute;
    font-size: calc-em(28px);
    right: calc-em(10px, 28px);
    top: calc-em(6px, 28px);
    &:hover,
    &:focus,
    &:active {
      color: lighten($red, 10%);
      text-decoration: none;
    }
    @include respond-to(41.25em) {
      display: none;
    }
  } //nav-toggle
} //navbar

.navbar-inner {
  background: none;
  @include box-shadow(none);
  @include border-radius(0);
  border: none;
  @extend %group;
  @include respond-to(41.25em) {
    @include container;
  }
  .interior & {
    position: relative;
    .logo {
      @include replace-text(362px, 183px, image-url('img-logo-alt.png') no-repeat top left); 
      z-index: 102;
      width: 110px;
      height: 35px;
      position: fixed;
      top: 50px;
      left: 20px;
      background-size: contain;
      @include respond-to(41.25em) {
        position: absolute;
        top: -(calc-em(102px));
        @include replace-text(362px, 183px, image-url('img-logo.png') no-repeat top left); 
      }
    } //logo
  } //interior
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
} //navbar-inner

.header-hero {
  @include background(transparent image-url('backgrounds/bg-home.png') no-repeat top left);
  background-size: cover;
  margin-bottom: calc-em(24px);

  @include respond-to(41.25em) {
    margin-bottom: 0;
  }

  .hero-content {
    @extend %container;
    @extend %group;
    overflow: hidden;
    position: relative;
    padding-top: calc-em(120px); 
    padding-bottom: calc-em(180px);
    @include respond-to(41.25em) {
      padding-top: calc-em(40px);
      overflow:visible;
      overflow-y: hidden;
    }
  } //hero-content

  .logo {
    @include replace-text(362px, 183px, image-url('img-logo-alt.png') no-repeat top left); 
    z-index: 102;
    width: 110px;
    height: 35px;
    position: fixed;
    top: 50px;
    left: 20px;
    background-size: contain;
    @include respond-to(41.25em) {
      @include replace-text(362px, 183px, image-url('img-logo.png') no-repeat top left); 
      float: left;
      position: static;
      top: auto;
      left: auto;
    }
  } //logo

  .top-beer-nav {
    position: absolute;
    width: 835px;
    right: 0;
  } //top-beer-nav

  .happy-amber,
  .psychopathy,
  .gnarly-brown {
    position: absolute;
    top: 0;
    a {
      text-indent: -9999px;
      display: block;
      background-size: contain;
      width: 200px;
      height: 200px;
    } //a
  } //happy-amber, psychopathy, gnarly-brown

  .happy-amber {
    right: 230px;
    @include respond-to(41.25em) {
      left: 0;
      top: 200px;
    }
    a {
      height: 408px;
      @include background(transparent image-url('beers/img-happy-amber-combined.png') no-repeat top left);
      background-size: contain;
      @include respond-to(41.25em) {
        width: 323px;
      }
    } //a
  } //happy-amber

  .gnarly-brown {
    right: 80px;
    @include respond-to(41.25em) {
      top: 150px;
      left: 260px;
    }
    a {
      height: 406px;
      @include background(transparent image-url('beers/img-gnarly-combined.png') no-repeat top left);
      background-size: contain;
      @include respond-to(41.25em) {
        width: 318px;
      }
    } //a
  } //gnarly-brown

  .psychopathy {
    right: -70px;
    @include respond-to(41.25em) {
      right: 0;
      top: 100px;
    }
    a {
      @include respond-to(41.25em) {
        width: 326px;
      }
      height: 408px;
      @include background(transparent image-url('beers/img-psycho-combined.png') no-repeat top left);
      background-size: contain;
    } //a
  } //psychopathy

} //header-hero

.main-nav {
  @extend %zero-list;
  height: 1px;
  display: block;
  margin-top: calc-em(60px);
  @include transition(.2s linear all); 
  max-height: calc-em(340px);
  overflow-x: visible;
  @include respond-to(41.25em) {
    max-height: none;
    display: block;
    font-size: .1px;
    height: auto;
    margin-top: 0;
    text-align: justify;
    @include transition(none);
  }

  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    @include respond-to(41.25em) {
      content: '';
      width: 100%;
      display: inline-block;
    }
  } //:after

  &.gone {
    display: none;
    @include respond-to(41.25em) {
      content: '';
      width: 100%;
      display: inline-block;
    }
  }
  &.expanded {
    overflow-y: auto;
    height: auto;
  } //expanded

  li {
    display: block;
    @include respond-to(41.25em) {
      display: inline-block;
      width: 33.333333%;
      text-align: center;
    }
    &:nth-child(odd) {
      background: lighten($gray-darker, 4%); 
      @include respond-to(41.25em) {
        background: none;
      }
    }
    &:nth-child(even) {
      background: lighten($gray-darker, 2%); 
      @include respond-to(41.25em) {
        background: none;
      }
    }
  } //li

  a {
    padding: calc-em(6px, 32px) calc-em(16px, 32px);
    display: block;
    font-size: calc-em(32px);
    display: block;
    font-family: $nav-font-family;
    font-weight: 300;
    color: $white;
    text-transform: uppercase;
    @include respond-to(41.25em) {
      padding: 0;
      font-size: calc-em(28px, .1px);
      line-height: calc-em(62px, 28px);
    }
  } //a
  
  .interior & {
    @include respond-to(41.25em) {
      padding-top: calc-em(90px, .1px);
    }
    @include respond-to(55.625em) {
      padding-top: 0;
      float: right;
      width: 60%;
    }
    li {
      i {
        display: none;  
      } //i
      a {
        @include opacity(.7);
      } //a
      &.active {
        i {
          display: inline-block;  
          float: right;
          line-height: 1.25em;
          @include respond-to(41.25em) {
            display: none; 
          }
        } //i
        a {
          @include opacity(1);
        } //a
      } //active
    } //li
  } //interior
} //main-nav

.section-navbar {
  margin-bottom: calc-em(32px);
} //section-navbar

.section-nav {
  @extend %zero-list;
  font-family: $nav-font-family;
  height: 0;
  overflow: hidden;
  &.showing {
    height: auto;
    overflow: visible;
    li {
      a {
        border-bottom: 1px solid rgba(0,0,0,.2);
        @include respond-to(41.25em) {
          border: none;
        }
      } //a
      &:last-child {
        a {
          border: none;
        }
      } //last-child
      &.active {
        a {
          color: $white;
        }
      } //active
    } //li
  } //showing
  @include respond-to(41.25em) {
    font-size: .1px;
    text-align: justify;
    height: auto;
    overflow: visible;
  }
  &:after {
    @include respond-to(41.25em) {
      content: '';
      width: 100%;
      display: inline-block;
    }
  } //after
  li {
    @include respond-to(41.25em) {
      display: inline-block;
      font-size: calc-em(17px, .1px);
      text-transform: uppercase;
    }
    @include respond-to(49.375em) {
      font-size: calc-em(20px, .1px);  
    }
    @include respond-to(56.25em) {
      font-size: calc-em(24px, .1px);  
    }
    a {
      line-height: 2em;
    } //a
  } //li
  .dropdown-menu {
    padding: 0;
    li {
      font-size: calc-em(16px);
      display: block;
      &:first-child {
        @include border-radius(4px 4px 0 0);
        a {
          @include border-radius(4px 4px 0 0);
        }
      }
      &:last-child {
        @include border-radius(0 0 4px 4px);
        a {
          @include border-radius(0 0 4px 4px);
        }
      }
    }

  }
} //section-nav

// Main Content
// --------------------------------------------------

.container {
  @extend %container;
}

.main-content {
  /*@include susy-grid-background; */
  .interior & {
    padding-top: calc-em(120px);
    @include respond-to(41.25em) {
      padding-top: 0; 
    }
  }
} //main-content

// Footer
// --------------------------------------------------
.site-footer {
  background: $white;
  padding: calc-em(32px) 0;
  .footer-content {
    @extend %container;
    @extend %group;
  }
  .footer-nav-item {
    margin-bottom: calc-em(16px);
    @include respond-to(32.5em) {
      //520px 
      margin-bottom: 0;
      @include span-columns(4);
      @include nth-omega(3n);
    }
  } //footer-nav-item
  .nav-item-header {
    h4 {
      letter-spacing: 3px;
      color: $black;
      font-size: calc-em(23px);
    }
  }
  .nav-item-body {
    color: $red;
   > ul {
      @extend %zero-list;
      > li {
        display: block;
        margin-bottom: calc-em(6px);
      }
      p {
        margin: 0;
      }
    } //ul
  } //nav-item-body
  .social-links {
    font-size: calc-em(24px);
    @extend %zero-list;
  }
}
