<section class="header-toolbar">
  <div class="toolbar-content">
    <div class="taproom-hours">
      <span class="more-text">Tap Room Hours</span>:
      <span class="day">
        W 4pm&ndash;10pm
      </span> <!-- /day -->
      <span class="day">
        TH 4pm&ndash;12am
      </span> <!-- /day -->
      <span class="day">
        F 4pm&ndash;1am
      </span> <!-- /day -->
      <span class="day">
        S 12pm&ndash;1am
      </span> <!-- /day -->
      <span class="day">
        SU 12pm&ndash;8pm
      </span> <!-- /day -->
    </div> <!-- /tapoom-hours -->

    <nav class="social-nav">
      <ul class="social-links">
        <li class="facebook"><%= link_to "Facebook", "http://facebook.com/madtree/" %></li>
        <li class="untappd"><%= link_to "Untappd", "https://untappd.com/Madtree" %></li>
        <li class="twitter"><%= link_to "Twitter", "http://twitter.com/madtreebrewing" %></li>
        <li class="yelp"><%= link_to "Yelp", "http://www.yelp.com/biz/madtree-brewing-cincinnati-2" %></li>
      </ul> <!-- /social-links -->
    </nav> <!-- /social-nav -->
  </div> <!-- /toolbar-content -->
</section> <!-- /header-toolbar -->
