<div class="header-hero">
  <div class="hero-content">
    <%= link_to "MadTree Brewing Company", "#", class: "logo" %>
    <nav class="top-beer-nav">
      <ul class="beer-cans">
        <li class="happy-amber"><%= link_to "beers/happy-amber/", "#" %></li>
        <li class="gnarly-brown"><%= link_to "beers/gnarly-brown/", "#" %></li>
        <li class="psychopathy"><%= link_to "beers/psychopathy/", "#" %></li>
      </ul> <!-- /beer-cans -->
    </nav> <!-- /top-beer-nav -->
  </div> <!-- /hero-content -->
</div> <!-- /header-hero -->

