<section class="header-toolbar">
  <div class="toolbar-content">
    <div class="taproom-hours">
      <span class="more-text">Tap Room:</span>
      <span class="day">
        <strong>T</strong> 4<em>pm</em>&ndash;11<em>pm</em>
      </span> <!-- /day -->
      <span class="day">
        <strong>W</strong> 11<em>am</em>&ndash;11<em>pm</em>
      </span> <!-- /day -->
      <span class="day">
        <strong>TH</strong> 11<em>am</em>&ndash;12<em>am</em>
      </span> <!-- /day -->
      <span class="day">
        <strong>F</strong> 11<em>am</em>&ndash;1<em>am</em>
      </span> <!-- /day -->
      <span class="day">
        <strong>S</strong> 11<em>am</em>&ndash;1<em>am</em>
      </span> <!-- /day -->
      <span class="day">
        <strong>SU</strong> 11<em>am</em>&ndash;10<em>pm</em>
      </span> <!-- /day -->
    </div> <!-- /tapoom-hours -->

    <nav class="social-nav">
      <ul class="social-links">
        <li><%= link_to "<i class='icon-facebook'></i>", "http://facebook.com/madtree/" %></li>
        <li><%= link_to "<i class='icon-twitter'></i>", "http://twitter.com/madtreebrewing" %></li>
        <li><%= link_to "<i class='icon-instagram'></i>", "http://instagram.com/madtreebrewing" %></li>
        <li class="untappd"><%= link_to "<i class='ico-untappd'></i>", "http://untappd.com/Madtree" %></li>
      </ul> <!-- /social-links -->
    </nav> <!-- /social-nav -->
  </div> <!-- /toolbar-content -->
</section> <!-- /header-toolbar -->
