<nav class="navbar">
  <%= link_to "<i class='icon-reorder'></i>", "#", class: "nav-toggle" %>
  <div class="navbar-inner">
    <ul class="main-nav">
      <%= content_tag :li, link_to("Beers", "../beers/happy-amber.html") %>
      <%= content_tag :li, link_to("Taproom", "../taproom/") %>
      <%= content_tag :li, link_to("Community", "../community/") %>
    </ul> <!-- /main-nav -->
  </div> <!-- /navbar-inner -->
</nav> <!-- /navbar -->
