<nav class="navbar section-navbar" data-group="community">
  <div class="navbar-inner">
    <ul class="section-nav">
      <%= content_tag :li, link_to("Founders", "#"), class: "active" %>
      <%= content_tag :li, link_to("Artists", "#") %>
      <%= content_tag :li, link_to("Partners", "#") %>
      <%= content_tag :li, link_to("Charities", "#") %>
    </ul> <!-- /section-nav -->
  </div> <!-- /navbar-inner -->
</nav> <!-- /navbar -->

