<nav class="navbar section-navbar" data-group="store">
  <div class="navbar-inner">
    <ul class="section-nav">
      <%= content_tag :li, link_to("Apparel", "/store/apparel") %>
      <%= content_tag :li, link_to("Headwear", "/store/headwear") %>
      <%= content_tag :li, link_to("Barware", "/store/barware") %>
      <%= content_tag :li, link_to("Specialty", "/store/specialty") %>
    </ul> <!-- /section-nav -->
  </div> <!-- /navbar-inner -->
</nav> <!-- /navbar -->

