<div class="tweet">
  <div class="tweet-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Primum cur ista res digna odio est, nisi quod est turpis?</p>
  </div> <!-- /tweet-content -->
  <cite class="tweet-source"><%= link_to "&mdash; @username", "#" %></cite>
</div> <!-- /tweet -->
