<section class="untappd-stats">
  <h4>Stats from Untappd</h4>
  <table class="untappd table table-striped">
    <tr>
      <td class="main-stats">
        <table class="main-stat-table table">
          <tr>
            <th>Beers Consumed</th>
          </tr>
          <tr>
            <th class="sub-th">
              Total:
            </th>
          </tr>
          <tr>
            <td>250</td>
          </tr>
          <tr>
            <th class="sub-th">
              This Year:
            </th>
          </tr>
          <tr>
            <td>250</td>
          </tr>
          <tr>
            <th class="sub-th">
              This Month:
            </th>
          </tr>
          <tr>
            <td>250</td>
          </tr>
          <tr>
            <th class="sub-th">
              This Week:
            </th>
          </tr>
          <tr>
            <td>250</td>
          </tr>
        </table>
      </td> <!-- /main-stats -->
      <td class="secondary-stats">
        <table class="table secondary-stat-table">
          <tr>
            <th>Rating</th>
          </tr>
          <tr>
            <td>3.68 (5,333 ratings)</td>
          </tr>
          <tr>
            <th>Beer Count</th>
          </tr>
          <tr>
            <td>
              25
            </td>
          </tr>
        </table>
      </td> <!-- /secondary-stats -->
    </tr>
    <tr>
      <td coslpan="2">
        <% 6.times do %>
          <%= link_to image_tag("http://placehold.it/100x100"), "#" %>
      <% end %>
      </td>
    </tr>
  </table>

</section>
