<section class="untappd-stats">
  <h4>Stats from Untappd</h4>
  <div id="untappd"></div>
  <%= link_to "<i class='icon-beer'></i> Drink with us on Untappd", "http://untappd.com/madtree" %>
</section>
