
<% content_for :page_classes do %>
  interior job-page
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
<% end %>

<div class="container">
    <header class="section-header">
      <h2>Jobs</h2>
    </header> <!-- /page-header -->
    <div id="BambooHR"><script src="//madtree.bamboohr.com/js/jobs2.php" type="text/javascript"></script><div id="BambooHR-Footer">Powered by<a href="http://www.bamboohr.com" target="_blank" rel="external"><img src="//www.bamboohr.com/img/footer-logo.png" alt="BambooHR - HR software"/></a></div></div>
</div>

