---
current_page: "beers"
sub_page: "axis-mundi-bourbon"
---
<% content_for :page_classes do %>
  interior axis-mundi-bourbon 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/sprye/img-pint.png" %>
        </div>
        <h2>Bourbon Barrel Aged Axis Mundi</h2>
      </header> <!-- /beer-detail-header -->
      <p>Axis Mundi aged in bourbon barrels. Delicious.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">10.5%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount"></td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">A metric shit ton</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Galena, Cascade, Perle</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


