---
current_page: "beers"
sub_page: "batch-one"
---
<% content_for :page_classes do %>
  interior 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/batch-one/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/batch-one/img-pint.png" %>
        </div>
        <h2>Batch One</h2>
      </header> <!-- /beer-detail-header -->
      <p>The first batch ever produced by MadTree.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">6%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">30</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Munich 10L, Melanoidin, Caramel 80L, Victory</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Cascade, Chinook</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>

