---
current_page: "beers"
sub_page: "daywalker"
---
<% content_for :page_classes do %>
  interior daywalker 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/daywalker/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Daywalker</h2>
      </header> <!-- /beer-detail-header -->
      <p>A refreshing blonde ale made for extended periods of drinking during summer days well into the evening. With copious amounts of New Zealand Motueka hops lending lemon and lime notes, Daywalker ends with a crisp and tart strawberry finish.</p>
      <p>
        <%= link_to "<i class='icon-beaker'></i> Email us for the Recipe", "mailto:recipes@madtreebrewing.com" %>
      </p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">4.3%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">18</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Red Wheat, Vienna, Carapils, Caramel 80L</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Galena, Fuggle, Motueka</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


