---
current_page: "beers"
sub_page: "dead-flowers"
---
<% content_for :page_classes do %>
  interior dead-flowers 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/dead-flowers/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Dead Flowers</h2>
        <span class="chef-series">Chef Series by Chef Dave Taylor</span>
      </header> <!-- /beer-detail-header -->
      <p>You can send me dead flowers every morning. Send me dead flowers by mail. Send me dead flowers to my wedding. A strong ale brewed with elderflower and chamomile, Chef Dave Taylor can send me his Dead Flowers anytime, anywhere.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">9%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">17</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">Victory, Extra Special, Melanoidin, Caramel 40L</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Chinook, Perle</td>
        </tr>
        <tr>
          <th>Adjuncts</th>
          <td colspan="3" class="ingredients hops">Elderflower, chamomile</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


