---
current_page: "beers"
sub_page: "everything-went-black"
---
<% content_for :page_classes do %>
  interior everything-went-black 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Everything Went Black</h2>
        <span class="chef-series">Brewers Series by Simon Kretchik</span>
      </header> <!-- /beer-detail-header -->
      <p>Something terrifying has happened to this beer. What was once an herbal and spicy IPA has been overcome with a climactic wave of rye dryness and the impermeable darkness of carafa malts. Fear not however, this coalescence of flavors will leave you craving for more. Just be forewarned, it is better to give in to this beer as its darkness cannot be stopped.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">7%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount"></td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Carafa Type III, Caramel 40L, Rye</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Millenium, Centennial, Nugget</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


