---
current_page: "beers"
sub_page: "flosch"
---
<% content_for :page_classes do %>
  interior flosch 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/sprye/img-pint.png" %>
        </div>
        <h2>Flölsch</h2>
      </header> <!-- /beer-detail-header -->
      <p>Brewed with ancho chiles, limes and ginger</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">4.7%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">12</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Red Wheat, Caramel 60L, Vienna, Flaked Barley</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Cascade, Pacifica</td>
        </tr>
        <tr>
          <th>Adjuncts</th>
          <td colspan="3" class="ingredients">Lime Juice, Ginger, Ancho Chilies</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


