---
current_page: "beers"
sub_page: "flolsch"
---
<% content_for :page_classes do %>
  interior flolsch 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Fl&ouml;lsch
        </h2>
        <span class="chef-series">Chef Series by Chef Mike Florea</span>            
      </header> <!-- /beer-detail-header -->
      <p>A K&ouml;lsch ale brewed with lime, ginger and a hint of Ancho ends up smooth and refreshing. In fact, that was Chef Mike Florea's nickname in high school. Now he just goes by Flo. And you may just find you want to keep this Flolsch flowing.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">4.7%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">12</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Red Wheat, Caramel 60L, Vienna, Flaked Barley</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Cascade, Pacifica</td>
        </tr>
        <tr>
          <th>Adjuncts</th>
          <td colspan="3" class="ingredients">Lime Juice, Ginger, Ancho Chilies</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


