---
current_page: "beers"
sub_page: "galaxy-high"
---
<% content_for :page_classes do %>
  interior galaxy-high 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/galaxy-high/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/sprye/img-pint.png" %>
        </div>
        <h2>Galaxy High</h2>
      </header> <!-- /beer-detail-header -->
      <p>At Galaxy High, the beer has 120 IBUs, 10.2% ABV yet finishes nice and dry. Join two New Zealand hops as you encounter a crazy collection of tropical and dank flavors throughout this Imperial IPA. It’s big on your palate… disruptive even. Think "trophic cascades" disruptive.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">10.2%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">120</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Vienna, Caramel 40L, Carapils, Dextrose</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Topaz, Galaxy</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


