---
current_page: "beers"
sub_page: "gnarly-brown-coffee"
---
<% content_for :page_classes do %>
  interior gnarly-brown-coffee 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/sprye/img-pint.png" %>
        </div>
        <h2>Gnarly Brown with Deeper Roots Coffee &amp; Vanilla</h2>
      </header> <!-- /beer-detail-header -->
      <p></p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">7%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount"></td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients"></td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops"></td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


