---
current_page: "beers"
sub_page: "gnarly-brown"
---
<% content_for :page_classes do %>
  interior gnarly-brown 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/img-gnarly-brown-combined-rev.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Gnarly Brown</h2>
      </header> <!-- /beer-detail-header -->
      <p>Specialty malts bring intimations of brown sugar and vanilla which meld into the Gnarly's character. Roasted coffee malt flavors and residual sweetness dance in harmony, obscuring the line between brown ale and porter.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">7.0%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">32</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Victory, Extra Special Brown, Pale Chocolate, Roasted Barley</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Cascade, Chinook</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>

