<% content_for :page_classes do %>
  interior happy-amber
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/img-happy-amber-combined-rev.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <h2>Happy Amber</h2>
      <p>This dry-hopped ale combines carmel and biscuit malt flavors in happy equilibrium with late addition American hops. The approachable balance is intentional although the name is "hoppy accident."</p>
      <%= link_to "<i class='icon-beaker'></i> Download the recipe for Happy Amber here", "#" %>
      <table class="table beer-stats">
        <tr>
          <th>ABV</th>
          <td>6.9%</td>
          <th>IBU</th>
          <td>70</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3">2-Row, Munich 10L, Melanoidin, Carmel 80L, Victory</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3">Cascade, Chinook</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>
