---
current_page: "beers"
sub_page: "identity-crisis"
---
<% content_for :page_classes do %>
  interior identity-crisis
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/identity-crisis/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/identity-crisis/img-pint.png" %>
        </div>
        <h2>Identity Crisis</h2>
      </header> <!-- /beer-detail-header -->
      <p>Not a ray of light penetrates the soul of this beer. Combining the roasted malt backbone of a Porter with a huge amount of earthy and citrusy hops typical in many IPA's, this unique ale will leave you questioning it's identity and maybe yours.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">6.9%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">61</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Extra Special, Caramel 60L, Chocolate, Black, Roasted Barley, Carafa</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Cascade, Chinook, and Simcoe</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>

