---
current_page: "beers"
---

<% beers = data.beers %>

<% beers.each do |beer| %>
  <div class="beer">
    <header class="beer-header">
      <%= content_tag :h2, beer.name %>
      <div class="beer-stats">
      </div> <!-- /beer-stats -->
    </header> <!-- /beer-header -->
    <div class="beer-body">
      <div class="beer-image">
        <%= image_tag beer.image %>
      </div> <!-- /beer-image -->
      <div class="beer-description">
        <%= content_tag :p, beer.description %>
      </div> <!-- /beer-description -->
    </div> <!-- /beer-body -->
  </div> <!-- /beer -->
<% end %>

