---
current_page: "beers"
sub_page: "lift"
---
<% content_for :page_classes do %>
  interior lift 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/img-lift-combined-rev.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Lift</h2>
      </header> <!-- /beer-detail-header -->
      <p>Whether taking a break from a hard day of work or just a huge day of hops, this crisp refreshing beer with a hint of orange will lift your spirits without lowering your expectations for what a craft beer should be. </p>
      <p>
        <%= link_to "<i class='icon-beaker'></i> Download the Recipe", "/recipes/liftRecipe.pdf" %>
      </p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">4.7%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">11</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Red Wheat, Vienna, Flaked Barley</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Cascade, Hallertauer Mittelfrher, Pacifica</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


