---
current_page: "beers"
sub_page: "old-battering-ram"
---
<% content_for :page_classes do %>
  interior old-battering-ram 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Old Battering Ram</h2>
        <span class="chef-series">Brewers Series by Kevin Johnson</span>
      </header> <!-- /beer-detail-header -->
      <p>Knock, knock. Who's there? Door shards and knockers in your face! This beer doesn't wait to be let in. Dark as night but scarier. Barricade your palate and batten down the hatches cause Old Battering Ram is coming.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">11.??%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">101</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-row, Caramel 120L, Midnight Wheat, Carapils</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Experimental 05256</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


