---
current_page: "beers"
sub_page: "the-great-pumpcan"
---
<% content_for :page_classes do %>
  interior the-great-pumpcan
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>The Great Pumpcan</h2>
      </header> <!-- /beer-detail-header -->
      <p>There are three things we have learned to never discuss with people here: religion, politics and The Great Pumpkin, But that doesn't mean we can't welcome our own Great PumpCan. So sing pumpkin carols and enjoy MadTree's way of delivering some delicious pumpkin pie flavor right to your gullet.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">7.9%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">18</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Caramel 60L, Victory, Extra Special, Melanoidin, Carapils</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Fuggle</td>
        </tr>
        <tr>
          <th>Adjuncts</th>
          <td colspan="3" class="ingredients hops">Molasses, Cinnamon, Nutmeg, Ginger, Allspice</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


