---
current_page: "beers"
sub_page: "rubus-cacao"
---
<% content_for :page_classes do %>
  interior 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/rubus-cacao/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Rubus Cacao</h2>
        <span class="chef-series">Brewers Series by Ryan Blevins</span>
      </header> <!-- /beer-detail-header -->
      <p>Raspberries and chocolate go together like two peas in a pod. But don't worry, there's no peas in the Rubus Cacao. Rather the sweet chocolate, roasty bitterness and dark raspberry fruit combine in perfect harmony. Who knows, the Rubus might even become the pea in your pod!</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">7%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">12</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-row, Chocolate, Caramel 60L, Roasted Barley, Black Malt, Carapils, Flaked Oats</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Experimental 05256</td>
        </tr>
        <tr>
          <th>Adjuncts</th>
          <td colspan="3" class="ingredients hops">Raspberries, Cocoa nibs</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


