---
current_page: "beers"
sub_page: "soldrifter"
---
<% content_for :page_classes do %>
  interior soldrifter 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Sol Drifter</h2>
      </header> <!-- /beer-detail-header -->
      <p>Whether you drift along in life, drift down the river, or just want to drift through a drinking session, Sol Drifter will let you go where you want by delivering subtle citrus hop flavors to complement a crisp, refreshing, tart finish.</p>
      <p>For a perfect summer beer cocktail, try <%= link_to "adding macerated strawberries to Sol Drifter with this recipe", "/recipes/solDrifterDrinkRecipe.pdf", class: "drink-recipe" %>.</p>
      <p>
        <%= link_to "<i class='icon-beaker'></i> Download the Recipe", "/recipes/solDrifterRecipe.pdf" %>
      </p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">4.3%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">18</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Red Wheat, Vienna, Carapils, Caramel 80L</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Galena, Fuggle, Motueka</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


