---
current_page: "beers"
sub_page: "sprye"
---
<% content_for :page_classes do %>
  interior sprye 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/sprye/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <div class="pint">
          <%= image_tag "beers/sprye/img-pint.png" %>
        </div>
        <h2>Sprye</h2>
      </header> <!-- /beer-detail-header -->
      <p>A sessionable pale ale brewed with rye lending to an earthy, spicy flavor complemented by a heavy dose of Simcoe®, post-fermentation.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">5%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">40</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">Rye, Flaked Barley, Munich 10L, Melanoidin</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Centennial, Chinook, Simcoe</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>

