---
current_page: "beers"
sub_page: "unhappy-amber"
---
<% content_for :page_classes do %>
  interior unhappy-amber 
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-beer' %>
<% end %>

<div class="container">
  <section class="beer-description">
    <div class="beer-images">
      <%= image_tag "beers/unhappy-amber/img-tap.png" %>
    </div> <!-- /beer-images -->
    <div class="beer-details">
      <header class="beer-detail-header">
        <h2>Un-Happy Amber</h2>
      </header> <!-- /beer-detail-header -->
      <p>More malt. More hops. Less happy. Just right.</p>
      <table class="table beer-stats">
        <tr class="numbers">
          <th class="abv-label">ABV</th>
          <td class="abv-amount">7.8%</td>
          <th class="ibu-label">IBU</th>
          <td class="ibu-amount">71</td>
        </tr>
        <tr>
          <th>Malts</th>
          <td colspan="3" class="ingredients">2-Row, Crystal 60, Victory, Extra Special, Melanoidin, Cara-Pils</td>
        </tr>
        <tr>
          <th>Hops</th>
          <td colspan="3" class="ingredients hops">Chinook, Cascade, Nugget</td>
        </tr>
      </table> <!-- /beer-stats -->
    </div> <!-- /beer-details -->
  </section> <!-- /beer-description -->
</div>


