---
current_page: "taproom"
description: "Carryout, bar, cafe, family hangout, club meeting&hellip; the MadTree taproom is a little bit of everything. Whether you want to fill up your growler ($10 and up) or you want to meet up with some of your friends for dinner and a beer, we are happy to have you drop in."
---


<% content_for :meta_information do %>
  <meta property="og:title" content='The MadTree Taproom' />
  <meta property="og:image" content='http://madtreebrewing.com/images/map.png' />
  <meta property="og:url" content='http://madtreebrewing.com/taproom/'/>
  <meta property="og:description" content='Carryout, bar, cafe, family hangout, club meeting… the MadTree taproom is a little bit of everything. Whether you want to fill up your growler or meet up with some of your friends for dinner and a beer, we are happy to have you drop in. See below for the latest rotating taps.' />
  <meta name="description" content='Carryout, bar, cafe, family hangout, club meeting… the MadTree taproom is a little bit of everything. Whether you want to fill up your growler or meet up with some of your friends for dinner and a beer, we are happy to have you drop in. See below for the latest rotating taps.' />
<% end %>

<% content_for :page_classes do %>
  interior
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
<% end %>

<section class="taproom-info">
  <section class="taproom-location">
    <div id="taproom-map" class="taproom-map">
    </div>

    <div class="taproom-address-phone">
      <section class="address-phone">
        <div class="address">
          <h5><i class="icon-map-marker"></i> Address</h5>
          <p>5164 Kennedy Ave.</p>
          <p>Cincinnati, OH 45213</p>
        </div> <!-- /address -->
        <div class="phone">
          <h5><i class="icon-phone"></i> Phone</h5>
          <p>513-836-8733</p>
        </div> <!-- /phone -->
      </section> <!-- /address-phone -->
    </div> <!-- /taproom-address -->
      <h3>Did somebody say tours?</h3>
      <p>MadTree offers tours to the public every Saturday at 3pm and 4pm.</p>
      <h3>Taproom Hours</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>
              Tuesday
            </th>
            <td>
              4pm&ndash;10pm
            </td>
          </tr>
          <tr>
            <th>
              Wednesday
            </th>
            <td>
              4pm&ndash;10pm
            </td>
          </tr>
          <tr>
            <th>
              Thursday
            </th>
            <td>
              12pm&ndash;1am
            </td>
          </tr>
          <tr>
            <th>
              Friday
            </th>
            <td>
              12pm&ndash;1am
            </td>
          </tr>
          <tr>
            <th>
              Saturday
            </th>
            <td>
              12pm&ndash;1am
            </td>
          </tr>
            <th>
              Sunday
            </th>
            <td>
              12&ndash;8pm
            </td>
          </tr>
        </tbody>
      </table> <!-- /table-striped -->
  </section> <!-- /taproom-location -->
  <section class="taproom-about">
    <header class="taproom-about-header">
      <h2>The MadTree Taproom</h2>
    </header> <!-- /taproom-about-header -->
    <div class="taproom-about-body">
      <h3>What's on tap?</h3>
      <p>
        Carryout, bar, cafe, family hangout, club meeting&hellip; the MadTree taproom is a little bit of everything. Whether you want to fill up your growler or meet up with some of your friends for dinner and a beer, we are happy to have you drop in. See below for the latest rotating taps.
      </p>
      <div id="ontap"></div>
    </div> <!--/taproom-about-body -->
  </section> <!-- /taproom-about -->
</section> <!-- /taproom-info -->

<script id="tap_template" type="text/x-handlebars-template">
  <table class="table table-striped tap-table">
    {{#each this}}
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" class="table">
          <tr>
          <th><a href={{hyperlink}} class="name">{{beer}}</a> <a href="#" class="price">Prices</a></th>
          </tr>
          <tr class="prices">
            <td>
            <table class="table">
              <tr>
                {{#if pint}}<td><span>Pint:</span> ${{pint}}</td>{{/if}}
                {{#if snifter}}<td><span>Snifter:</span> ${{snifter}}</td>{{/if}}
                {{#if taster}}<td><span>Taster:</span> ${{taster}}</td>{{/if}}
                {{#if growler-64}}<td><span>64oz Growler:</span> ${{growler-64}}</td>{{/if}}
                {{#if growler-40}}<td><span>40oz Growler:</span> ${{growler-40}}</td>{{/if}}
                {{#if growler-32}}<td><span>32oz Growler:</span> ${{growler-32}}</td>{{/if}}
                {{#if sixer}}<td><span>Sixer:</span> ${{sixer}}</td>{{/if}}
              </tr>
            </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    {{/each}}
  </table>
</script>
