<%
  beers = data.beers.details
%>
<nav class="sidebar-nav taproom-nav">
  <h2>What's on Tap</h2>
  <ul class="nav-list">
    <% beers.each do |beer| %>
    <li class="nav-item">
      <%= link_to beer.name, "/beer/#{beer.url}", class: "#{beer.url}" %>
    </li> <!-- /nav-item -->
    <% end %>
  </ul> <!--/nav -->
  <section class="taproom-hours">
    <h2>Tap Room Hours</h2>
    <table class="hours-table">
      <tr>
        <td>
          <strong>M&ndash;F</strong>
        </td>
        <td>
          11am &ndash; 7pm
        </td>
      </tr>
      <tr>
        <td>
          <strong>Sat</strong>
        </td>
        <td>
          11am &ndash; 9pm
        </td>
      </tr>
      <tr>
        <td>
          <strong>Sun</strong>
        </td>
        <td>
          11am &ndash; 7pm
        </td>
      </tr>
    </table>
  </section> <!-- /taproom-hours -->
  <p class="growler">
    Stop in a get a growler full of your favorite beer to go.
  </p>
</nav> <!-- /taproom-nav -->

<section class="content-area taproom">
  <div class="taproom-slideshow">
    <ul data-orbit data-options="bullets:false;">
      <% 3.times do %>
      <li>
        <%= image_tag 'taproom/img-slide-1.png' %>
        <div class="orbit-caption">Vivamus at urna malesuada, consequat nisl a, blandit nulla.</div> <!-- /orbit-caption -->
      </li>
      <% end %>
    </ul>
  </div> <!-- /taproom-slideshow -->
</section> <!-- /content-area -->
