---
current_page: "taproom"
---
<% content_for :page_classes do %>
  interior
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
<% end %>

<section class="taproom-info">
  <section class="taproom-location">
    <div id="taproom-map" class="taproom-map">
    </div>

    <div class="taproom-address-phone">
      <section class="address-phone">
        <div class="address">
          <h5><i class="icon-map-marker"></i> Address</h5>
          <p>5164 Kennedy Ave.</p>
          <p>Cincinnati, OH 45213</p>
        </div> <!-- /address -->
        <div class="phone">
          <h5><i class="icon-phone"></i> Phone</h5>
          <p>513-836-8733</p>
        </div> <!-- /phone -->
      </section> <!-- /address-phone -->
    </div> <!-- /taproom-address -->
  </section> <!-- /taproom-location -->
  <section class="taproom-about">
    <header class="taproom-about-header">
      <h2>The MadTree Taproom</h2>
    </header> <!-- /taproom-about-header -->
    <div class="taproom-about-body">
      <p>
      Carryout, bar, cafe, family hangout, club meeting...the MadTree taproom is a little bit of everything. Whether you want to fill up your growler ($10 and up) or you want to meet up with some of your friends for dinner and a beer, we are happy to have you drop in. Check the website for the latest rotating taps and which local Chef is cooking something up.
      </p>
      <h3>Did somebody say tours?</h3>
      <p>MadTree offers tours to the public every Saturday at 3pm and 4pm.</p>
      <h3>Taproom Hours</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>
              Wednesday
            </th>
            <td>
              4pm&ndash;10pm
            </td>
          </tr>
          <tr>
            <th>
              Thursday
            </th>
            <td>
              4pm&ndash;12am
            </td>
          </tr>
          <tr>
            <th>
              Friday
            </th>
            <td>
              4pm&ndash;12am
            </td>
          </tr>
          <tr>
            <th>
              Saturday
            </th>
            <td>
              12pm&ndash;1am
            </td>
          </tr>
            <th>
              Sunday
            </th>
            <td>
              12&ndash;8pm
            </td>
          </tr>
        </tbody>
      </table> <!-- /table-striped -->
    </div> <!--/taproom-about-body -->
  </section> <!-- /taproom-about -->
</section> <!-- /taproom-info -->
