<%
  beers = data.beers.details
%>
<nav class="beer-nav sidebar-nav">
  <h2>Our Beers</h2>
  <ul class="nav-list">
    <% beers.each do |beer| %>
    <li class="nav-item">
      <%= link_to beer.name, "/beer/#{beer.url}", class: "#{beer.url}" %>
    </li> <!-- /nav-item -->
    <% end %>
  </ul> <!-- /nav -->
</nav> <!-- /beer-nav -->
