<nav class="beer-nav sidebar-nav">
  <h2>Our Beers</h2>
  <ul class="nav-list">
    <% ['happy-amber', 'psychopathy', 'gnarly-brown', 'identity-crisis', 'axis-mundi', 'batch-one', 'sprye'].each do |beer| %>
    <li class="nav-item">
      <%= link_to beer, "beer/#{beer}", class: "#{beer}" %>
    </li> <!-- /nav-item -->
    <% end %>
  </ul> <!-- /nav -->
</nav> <!-- /beer-nav -->

<section class="content-area beer">
  <div class="content-area-image cans">
    <%= image_tag 'beer/psychopathy/img-front-can.png', class: 'front-can can' %>
    <%= image_tag 'beer/psychopathy/img-back-can.png', class: 'back-can can' %>
  </div> <!-- /content-area-image -->
  <div class="content-area-body">
    <header class="content-body-header">
      <h2>Psychopathy</h2>
    </header>
    <div class="content-body">

    <p>The subtle malt backbone combats the bitterness and intensity of floral, grassy and citrus hop flavors. However, taste is perception. What's your slant?</p>
    <table class="beer-details">
      <tbody>
        <tr>
          <td>
            <strong>
              ABV
            </strong>
          </td>
          <td>
            6.9%
          </td>
        </tr>
        <tr>
          <td>
            <strong>IBU</strong>
          </td>
          <td>
            70
          </td>
        </tr>
        <tr>
          <td>
            <strong>Malts</strong>
          </td>
          <td>
            2-Row, Vienna, Caramel 40L, Carapils
          </td>
        </tr>
        <tr>
          <td>
           <strong>Hops</strong>
          </td>
          <td>
            Cascade, Chinook, Centennial
          </td>
        </tr>
      </tbody>
    </table> <!-- /beer-details -->
    </div>
  </div> <!-- /content-area-body -->
  <footer class="content-area-footer">
    <p class="beer-summary">
    <span class="tagline">Drink Hoppy</span> <span>&#124;</span> <span class="style">India Pale Ale</span> <span>&#124;</span> <span class="abv">6.9% Alcohol By Volume</span>
    </p>
  </footer> <!-- /content-area-footer -->
</section> <!-- /beer -->
