<header class="bonanza-header">
  <nav class="bonanza-nav">

  </nav> <!-- /bonanza-nav -->
</header>

<div class="bonanza-main">
  <section class="beer-list">

  </section><!-- /beer-list -->

  <section class="parking-info">

  </section> <!-- /parking-info -->

  <section class="bands">

  </section> <!-- /bands -->
</div> <!-- /bonanza-main -->

<footer class="bonanza-footer">

</footer> <!-- /bonanza-footer -->
