body.assets {
  .main-content {
    background: $black;
  }

  .asset-section {
    margin-bottom: calc-em(32px);

    h2 {
      margin-bottom: calc-em(6px);
    }

    &.press {

      @include respond-to(37.5em) {
        @include span-columns(6);
      }

      a {
        margin: calc-em(8px);
        display: inline-block;
        width: calc-em(100px);
        height: calc-em(100px);
        border: 1px solid #EFEFEF;
      }
    }

    &.salessheets {
      @include respond-to(37.5em) {
        @include span-columns(6 omega);
      }
    }

    &.tapstickers {
      > a {
        margin: calc-em(8px);
        display: inline-block;
        width: calc-em(100px);
        height: calc-em(140px);
      }
    }
  }
}
