body.beers {
  .nav-toggle {
    color: $white;
    &:hover,
    &:active,
    &:focus {
      color: darken($white, 10%);
    }
  }
  .beer-description {
    @extend %group;
    margin-bottom: calc-em(64px);
    a {
      color: $white;
    }
  } //beer-description
  .beer-images {
    text-align: center;
    margin-bottom: calc-em(16px);
    @include respond-to(32.5em) {
      @include span-columns(4);
    }
  } //beer-images
  .beer-details {
    margin-bottom: calc-em(16px);
    @include respond-to(32.5em) {
      @include span-columns(7 omega);
    }
    h2 {
      font-size: calc-em(42px);
      margin: 0;
    }
    p {
      font-size: calc-em(23px);
      color: $black;
    }
  } //beer-details
  .beer-detail-header {
    @extend %group;
    .pint {
      float: left;
      margin-right: 5%;
      width: 7%;
    }    
    h2 {
      float: left;
      line-height: 1.5em;
      width: 88%;
    }
  }
} //beers
