body.beers {
  @include background($body-bg image-url('backgrounds/bg-beer-default.png') no-repeat top right);
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: $white;
    background: $body-bg; 
  }
  .caret {
    border-top-color: $white;
  }
  .nav-toggle {
    color: $white;
    &:hover,
    &:active,
    &:focus {
      color: darken($white, 10%);
    }
  }
  .beer-description {
    @extend %group;
    margin-bottom: calc-em(64px);
    a {
      color: $white;
    }
  } //beer-description
  .beer-images {
    text-align: center;
    margin-bottom: calc-em(16px);
    @include respond-to(32.5em) {
      @include span-columns(4);
    }
  } //beer-images
  .beer-details {
    margin-bottom: calc-em(16px);
    @include respond-to(32.5em) {
      @include span-columns(7 omega);
    }
    h2 {
      font-size: 42px;
      margin: 0;
      color: $white;
    }
    p {
      font-size: 23px;
      color: $white;
    }
  } //beer-details
  .beer-detail-header {
    @extend %group;
    .pint {
      float: left;
      margin-right: 5%;
      width: 7%;
    }    
    h2 {
      float: left;
      line-height: 1em;
      width: 88%;
      margin-bottom: 0;
    }
      .chef-series {
        display: block;
        clear: both;
        font-size: 14px;
        line-height: 1em;
        font-family: $font-family-base;
        margin-bottom: 2em;
        text-transform: none;
      }
  }
  .beer-stats {
    th {
      color: $white;
    }
  }
} //beers
