body.beers {
  @include background($body-bg image-url('backgrounds/bg-beer-default.png') no-repeat top right);
  .dropdown-menu .active a {
    background: $red;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: $white;
    background: $body-bg;
  }
  .caret {
    border-top-color: $white;
  }
  .nav-toggle {
    color: $white;
    &:hover,
    &:active,
    &:focus {
      color: darken($white, 10%);
    }
  }
  .beer-description {
    @extend %group;
    margin-bottom: calc-em(64px);
    position: relative;
    overflow: hidden;
    &.with-image {
      position: static;
      .beer-images {
        background: none;
      }
    }
    a {
      color: $white;
    }
    &.with-image {
      .beer-details {
        h2 {
          font-family: $font-family-display;
        }
        @include respond-to(32.5em) {
          @include span-columns(7 omega);
        }
      }
      .beer-images {
        margin: 0 0 calc-em(30px);
        @include respond-to(32.5em) {
          @include span-columns(4);
        }
      }
      .beer-details-text,
      .beer-stats {
        @include reset-columns;
      }
    }
  } //beer-description
  .beer-details {
    margin-bottom: calc-em(16px);
    @extend %group;
    h2 {
      font-family: "flood-std";
      font-size: calc-em(42px);
      margin: 0;
      color: $white;
    }
    p {
      font-size: calc-em(23px);
      color: $white;
    }
  } //beer-details
  .beer-detail-header {
    @extend %group;
    .pint {
      float: left;
      margin-right: 5%;
      width: 7%;
    }
    h2 {
      float: left;
      line-height: 1em;
      width: 88%;
      margin-bottom: 0;
    }
      .chef-series {
        display: block;
        clear: both;
        font-size: calc-em(14px);
        line-height: 1em;
        font-family: $font-family-base;
        margin-bottom: 2em;
        text-transform: none;
      }
  }
  .beer-details-text {
    margin-bottom: 16px;
    @include respond-to(46.25em) {
      //760px
      @include span-columns(7);
    }
  }
  .beer-stats {
    > tbody > tr > td.ingredients { vertical-align: middle; }
    @include respond-to(46.25em) {
      //760px
      @include span-columns(5 omega);
    }
    th {
      color: $white;
    }
  }

  .beer-merch {
    @extend %group;
    padding: calc-em(8px) calc-em(12px);
    border: 5px solid;
    clear: both;
    display: block;
    @include respond-to(43.75em) {
      clear: left;
      @include span-columns(4);
    }
    h4 {
      font-size: calc-em(22px);
    }
    a {
      display: inline-block;
      width: 47%;
      float: left;
      font-size: calc-em(18px);
    }
  }
} //beers
