.bonanza {
  background: #A1C8DA;

  time {
    font-family: $font-family-display;
    text-transform: uppercase;
  }

  h3 {
    font-size: calc-em(48px);
    color: #15264C;
  }

  h4 {
    color: #FFF;
    font-size: calc-em(32px);
  }

  h5 {
    font-size: calc-em(24px);
    margin-bottom: 0;
  }

  .site-header {
    margin: 0;
    color: #FFF;
  }

  .header-toolbar {
    background: darken(#A1C8DA, 15%);
  }

  .section-header {
    margin-bottom: calc-em(16px);
    p {
      font-size: calc-em(18px);
    }
  }

  .bonanza-header {
    background: image-url("backgrounds/bg-bonanza.jpg") no-repeat top left;
    background-size: cover;

    > img {
      padding: calc-em(60px) calc-em(20px);
      @include respond-to(28.75em) {
        padding: calc-em(30px);
        max-width: calc-em(450px);
      }
      display: block;
      margin: 0 auto;

    }
  } //.bonanza-header

  .bonanza-nav {
    width: 100%;
    background: darken(#A1C8DA, 10%);

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;

      @include respond-to(50em) {
        @extend %container;
        @extend %zero-list;
      }

      li {
        display: block;
        width: 100%;

        @include respond-to(50em) {
          display: inline-block;
          width: 24%;
        }
      }

      a {
        color: #15264C;
        display: block;
        text-align: center;
        padding: calc-em(6px, 32px) calc-em(16px, 32px);
        font-size: calc-em(32px);
        font-family: $nav-font-family;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
          background: darken(#A1C8DA, 15%);
          text-decoration: none;
        }
      } //a
    } //ul
  } //.bonanza-nav
  .bonanza-main {
    @extend %container;
    @extend %group;

    a {
      color: #15264C;
    }

  } //.bonanza-main

  .details,
  .beer-list,
  .food,
  .parking-info,
  .bands {
    @extend %group;
    margin-bottom: calc-em(32px);
  }

  .details {
    margin-bottom: 0;
    text-align: center;
    padding: calc-em(32px) 0;

    time,
    span {
      font-size: calc-em(30px);
      @include respond-to(50em) {

        font-size: calc-em(56px);
      }
    }
  }

  .intro {
    font-weight: 100;
    margin-bottom: calc-em(12px, 32px);
    font-size: calc-em(32px);
    display: none;

    @include respond-to(37.5em) {
      display: block;
    }
  }

  .beer-list {
    text-align: center;
    .beers {
      h3 {
        color: #15264C;
      }
      @include respond-to(50em) {
        @include span-columns(6);
        @include nth-omega(2n);
      }
    }
  }

  .beer {
    padding: calc-em(12px);
    p {
      font-size: calc-em(18px);
    }

    &:nth-child(odd) {
      background: darken(#A1C8DA, 5%);
    }
  }

  .bands,
  .food {
    ul {
      @extend %zero-list;
      li {
        display: block;
      }
    }
  }

  .bands {
    @extend %group;
    .band-time,
    .dj-time {
      @include span-columns(4, 8);
    }

    .dj-time {
      @include omega;
    }
  }


  .food {
    @include respond-to(37.5em) {
      @include span-columns(5 omega);
    }
    ul li {
      font-family: $font-family-display;
      text-transform: uppercase;
      font-size: calc-em(24px);
      &:nth-child(odd) {
        a {
          background: darken(#A1C8DA, 5%);
        }
      }
      a {
        padding: calc-em(8px, 24px);
        display: block;
      }
    }
  }

  .bands {
    @include respond-to(37.5em) {
      @include span-columns(7);
    }
    ul li {
      font-size: calc-em(18px);
      line-height: calc-em(24px, 18px);
      padding: calc-em(8px, 18px);
      &:nth-child(odd) {
        background: darken(#A1C8DA, 5%);
      }
    }
  }
  .parking-info {
    margin-bottom: calc-em(32px);
  }


  .beer-list {
    span {
    font-weight: bold;
    em {
      font-size: calc-em(12px);
      font-style: normal;
      font-weight: normal;
    }

    }

  }

  .band-list p {
    color: #15264C;
  }

  .all-day {
    border-radius: 4px;
    background: #15264C;
    padding: calc-em(10px);
    margin-bottom: calc-em(32px);
    span {
      margin-bottom: calc-em(8px);
      display: inline-block;
      padding: calc-em(4px) calc-em(10px);
      border-radius: 3px;
      background: lighten(#15264C, 10%);
    }
  }

  .timed-releases {
    border-radius: 4px;
    background: #15264C;
    padding: calc-em(10px);
    margin-bottom: calc-em(32px);
    time {
      display: block;
      font-size: calc-em(32px);
    }
    .release {
      margin-bottom: calc-em(12px);
      padding-bottom: calc-em(12px);
      span {
        display: inline-block;
        margin-bottom: calc-em(8px);
        padding: calc-em(4px) calc-em(10px);
        border-radius: 3px;
        background: lighten(#15264C, 10%);
      }
      &:last-child {
        border: none;
      }
    }
  }
}
