body.charity {

  h4.money {
    color: $green;
    text-align: center;
    font-size: calc-em(32px);
  }

  h3 {
    color: $gray-light;
    font-size: calc-em(21px);
    margin-bottom: calc-em(21px, 21px);
  }

  h5 {
    color: $gray-light;
    margin-bottom: 0; 
  }

  .main-content {
    background: #FFF;
    color: $black;
  }

  .charity-container {
    @extend %container;
  }

  .charity-header {
    text-align: center;
    @extend %group;

    h2 {
      font-size: calc-em(48px);
      line-height: 1.25;
      margin-bottom: calc-em(8px, 48px);
    }

    @include pad(2,2);
    .intro {
      float: left;
      width: 45%;
      &:last-child {
        float: right;
      }
    }
  }

  .core-partners {
    @include pad(1,1);
    margin-bottom: calc-em(32px);
  } //core-partners

  .core-content {
    @extend %group;
  }

  .core-partner {
    @include span-columns(4.5, 10);
    text-align: center;

    &:nth-child(2n) {
      @include omega;
    }

    &:nth-child(3n) {
      clear: both;
    }
  } //core-partner

  .core-image {
    display: block;
    margin-bottom: calc-em(6px);
  }

  .monthly-partners {
    @extend %group;
    @include pad(1,1);
    margin-bottom: calc-em(64px);
  }

  .money-raised {
    text-align: center;

    .money {
      font-size: calc-em(80px);
    }

  }

  .current-partner,
  .on-deck,
  .monthly-partner {
    text-align: center;
    a {
      display: block;
      margin-bottom: calc-em(12px);
    }
  }

  .current-and-next {
    @include span-columns(6);
  }

  .previous-partners {
    @include span-columns(6 omega);

    .previous-content {
      @extend %group;
    }

    .monthly-partner {
      @include span-columns(3, 6);
      text-align: center;

      &:nth-child(2n) {
        @include omega;
      }

      &:nth-child(3n) {
        clear: both;
      }
    } //monthly-partner
  } //previous-partners
}

