body.charity {

  h4.money {
    color: $green;
    font-size: calc-em(80px);
  }

  .main-content {
    background: #FFF;
    color: $black;
  }

  .charity-container {
    @extend %container;
  }

  .charity-header {
    text-align: center;
    @extend %group;

    h2 {
      font-size: calc-em(48px);
      line-height: 1.25;
      margin-bottom: calc-em(8px, 48px);
    }

    @include pad(2,2);
    .intro {
      float: left;
      width: 45%;
      &:last-child {
        float: right;
      }
    }
  }

  .core-partners {
    @extend %group;
    @include pad(1,1);
  } //core-partners

  .core-partner {
    @include span-columns(4.5);

    &:nth-child(2n) {
      @include omega;
    }

    &:nth-child(3n) {
      clear: both;
    }
  } //core-partner

  .monthly-partners {
    @extend %group;
  }

  .money-raised {
    text-align: center;
    h3 {
      color: $gray-light;
      font-size: calc-em(21px);
    }
  }

  .current-and-next {
    @include span-columns(6);
  }

  .previous-partners {
    @include span-columns(6 omega);

    .monthly-partner {
      @include span-columns(3, 6);

      &:nth-child(2n) {
        @include omega;
      }

      &:nth-child(3n) {
        clear: both;
      }
    } //monthly-partner
  } //previous-partners
}

