body.community {
  .favorite-beer,
  .content-body-header {
    h2, h3 {
      color: #c44702;
    }
  }
  .community-nav {
    font-family: $headline-alt-font-family;
    text-transform: uppercase;
    .nav-item {
      display: block;
    }
    a {
      color: $black;
      &.active {
        color: $orange;
      }
    }
    > .nav-list {
      font-size: calc-em(21px);
    }
    .nav-header {
      margin-bottom: calc-em(21px, 21px);
    }
    .subnav {
      font-size: calc-em(16px, 21px);
    }
    .subnav-item {
      list-style-type: disc; 
    }
  }

  .content-area {
    padding: 0;
  }

  .content-area-image {
    @include span-columns(4, 9);
  }

  .content-area-body {
    @include span-columns(5 omega, 9);
    padding: calc-em(20px);
    padding-top: calc-em(140px);
  }
  .content-body-header {
    h2 {
      font-size: calc-em(32px);
      margin: 0;
      line-height: 1em;
    } 
    h3 {
      font-size: calc-em(21px);
      margin: 0 0 calc-em(10px, 21px);
      line-height: 1em;
    }
  }
  .content-body {

    p {
      font-size: calc-em(14px);
      line-height: calc-em(20px, 14px);
    }
  }
  .content-body-footer {
    @extend %group;
  }
  .favorite-beer {
    float: right;
    h3 {
      font-size: calc-em(18px);
      display: inline-block;
      line-height: 1em;
      margin: 0;
      text-align: right;
      padding-top: calc-em(14px, 18px);
    }
    img {
      vertical-align: top;
    }
  }
  &.community_kenny-mcnutt {
    .favorite-beer {
      img {
        margin-top: calc-em(16px);
      }
    }
  }
}
