body.event-page {

  .section-header {
    margin-bottom: calc-em(32px);

    h2 {
      font-size: calc-em(42px);
      margin-bottom: calc-em(4px, 42px);
    }
  }

  .event-teaser {
    padding: calc-em(20px);
    margin-bottom: calc-em(24px);
    background: rgba(46,46,46,.8);

    @include respond-to(43.75em) {
      @include span-columns(6);
    }

    &:nth-child(even) {
      @include respond-to(43.75em) {
        @include span-columns(6 omega);
      }
    }

    .date {
      font-family: $font-family-display;
      text-transform: uppercase;
      color: #E13A1C;
      font-size: calc-em(21px);
    }

    .teaser-header {

      h2 {
        display: block;
        font-size: calc-em(36px);
        line-height: 1;
        margin-bottom: 0;
        a {
          color: #FFF;
        }
      }

      span {
        color: #969696;
      }

    }// .teaser-header

    .teaser-body {
      p {
        font-size: calc-em(18px);
      }
    }// .teaser-body
  }// .event-teaser
}// .event-page
