body.interior.happy-amber {
  background: $happy-amber; 
  @include background($happy-amber image-url('backgrounds/bg-happy-amber.png') no-repeat top right);
  .caret {
    border-top-color: $happy-amber;
  }
  .site-header {
    color: $happy-amber;
  }
  .header-toolbar {
    background: #721F0A;
    background: rgba(97,19,9,.80)
  }
  .navbar {
    background: rgba(160,52,14,.87);
    &.section-navbar {
      background: #721F0A;
      background: rgba(97,19,9,.80);
      a {
        color: $happy-amber;
      }
      li.active {
       > a {
          color: $white;
        }
      } //active
    }
    .main-nav li {
      &:nth-child(even) {
        background: rgba(97,19,9,.80);
        @include respond-to(41.25em) {
          background: none;
        }
      }
      &:nth-child(odd) {
        background: rgba(97,19,9,1);
        @include respond-to(41.25em) {
          background: none;
        }
      }
    } //main-nav
  }
  .navbar-inner {
    .logo {
      @include respond-to(41.25em) {
        @include replace-text(362px, 183px, image-url('img-logo-ha.png') no-repeat top left);         
      }
    }
  }
  .beer-details {
    h2 {
      color: $happy-amber-alt;
    } //h2 
    p {
      color: $happy-amber-alt;
    }
  } //beer-details
  .site-footer {
    background: #721F0A;
    a {
      color: $happy-amber;
    }
  }
  .nav-item-header {
    h4 {
      color: $white;
    }
  }
  .nav-item-body {
    color: $happy-amber;
  }
  .beer-stats {
    border-color: rgba(97,19,9,.50);
    background: rgba(160,52,14,.6);
  }
} //happy-amber

