body.index {

  .main-content {
    .main-container {
      position: relative;
    }
  }
  .news {
    @include span-columns(4);
    margin-bottom: calc-em(130px);
    .news-header,
    .news-articles {
      background: #FFF;
      @include background(rgba(255,255,255,.7));
      @include box-shadow(rgba(0,0,0,.2) 0 2px 3px);
      padding: calc-em(8px);
    } //news-header, //news-articles
    .news-header {
      margin-bottom: calc-em(8px);
      h3 {
        font-size: calc-em(16px);
        margin-bottom: 0;
      }
    }
    .news-articles {
      padding-bottom: calc-em(100px); 
    }
    .news-article {
      p {
        font-size: calc-em(13px);
      } 
    }
  }
  .photo-grid {
    @include span-columns(7 omega);
    img {
      border: 5px solid $black;
      height: 200px;
    }
    .photo-row {
      @extend %group;
    }
    .photo-cell {
      float: left;
      &.tl {
        img {border-bottom: none; border-right: none; };
        width: 300px;
      }
      &.tr {
        width: 246px;
        img {border-bottom: none };
      }
      &.bl {
        img { border-right: none; };
        width: 246px;
      }
      &.br {
        width: 300px;
      }
    }
  }

  .cans {
    position: absolute;
    bottom: 100px;
    left: 80px;
  }
}
