body.index {

  .main-content {
    .main-container {
      position: relative;
    }
  }
  .news {
    margin-bottom: calc-em(32px);
    @include respond-to('48em') {
      //767px
      @include span-columns(4);
      margin-bottom: calc-em(130px);
    }
    .news-header,
    .news-articles {
      background: #FFF;
      @include background(rgba(255,255,255,.7));
      @include box-shadow(rgba(0,0,0,.2) 0 2px 3px);
      padding: calc-em(8px);
    } //news-header, //news-articles
    .news-header {
      @extend %group;
      margin-bottom: calc-em(8px);
      h3 {
        font-size: calc-em(16px);
        margin-bottom: 0;
        @include span-columns(8);
      }
      .social {
        @include span-columns(3 omega);
        width: calc-em(50px);
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: inline-block;
          &.twitter {
            a {
              color: #06ACEE;
            }
          }
          &.facebook {
            a {
              color: #3B5998;
            }
          }
        }
      }
    }
    .news-articles {
      @include respond-to('48em') {
        //767px
        padding-bottom: calc-em(100px); 
      }
    }
    .news-article {
      p {
        font-size: calc-em(13px);
      } 
    }
  }
  .photo-grid {
    margin-bottom: calc-em(32px);
    @include respond-to('48em') {
      //767px
      margin-bottom: 0;
      @include span-columns(7 omega);
    }
    img {
      border: 5px solid $black;
      height: 200px;
    }
    .photo-row {
      @extend %group;
    }
    .photo-cell {

      float: left;
      img {
        width: 100%;
        @include respond-to(48em) {
        }
      }
      &.tl {
        width: 68%;
        @include respond-to('48em') {
          width: 300px;
        }
        img {border-bottom: none; border-right: none; };
      }
      &.tr {
        float: right;
        width: 32%;
        @include respond-to('48em') {
          width: 246px;
          float: left;
        }
        img {border-bottom: none };
      }
      &.bl {
        width: 32%;
        @include respond-to('48em') {
          width: 246px;
        }
        img { border-right: none; };
      }
      &.br {
        width: 68%;
        float: right;
        @include respond-to('48em') {
          width: 300px;
          float: left;
        }
      }
    }
  }

  .cans {
    text-align: center;
    @include respond-to('48em') {
      position: absolute;
      bottom: 100px;
      left: 80px;
    }
  }
}
