body.index {
  #map {
    width: 100%;
    height: 0;
    &.now-showing {
      height: 400px;
    }
  }
  #user-location {
    &.can-geolocate {
      #address {
        display: none;
        @include respond-to(30em) {
          display: table-cell;
        }
      }
      .btn-default {
        display: block;
        width: 100%;
        @include respond-to(30em) {
          width: auto;
          display: inline-block;
        }
      }
    }
  }
  #loc-list {
    max-height: calc-em(560px);
    overflow: scroll;
  }
  .find-madtree {
    margin-bottom: calc-em(36px);
    @include respond-to(40em) {
      margin-bottom: 0;
      @include span-columns(6);
    }
    h2 {
      margin-bottom: 0;
      font-size: calc-em(69px);
    }
    a {
      color: $white;
    }
  } //find-madtree

  .find-beer {
    padding: calc-em(24px);
    @include background(transparent image-url('backgrounds/subtle_carbon_inverse.png') repeat top left);
    margin-bottom: calc-em(32px);
    .input-group {
      margin-bottom: calc-em(16px);
    }
    .redo-search {
      display: none;
    }
    > div {
      display: block;  
    }
    &.showing-results {
      padding: calc-em(10px);
      overflow: hidden;
      .redo-search {
        display: block; 
      }
      > div {
        display: none;
      }
    }
  } //find-beer
  
  .address-phone {
    h5 {
      color: $red;
    }
    .email,
    .address,
    .phone {
      p {
        margin: 0;
        font-weight: 300;
        font-size: calc-em(24px);
        @include respond-to(57.5em) {
          font-size: calc-em(21px);
        }
        @include respond-to(61.25em) {
          font-size: calc-em(24px);
        }
      }
    } //address & //phone & //email
    .address {
      margin-bottom: calc-em(16px);
    }
    .email {
      clear: both;
    }
  } //address-phone


  .address {
    @include respond-to(33.75em) {
      @include span-columns(4, 6);
    }
    @include respond-to(40em) {
      @include reset-columns(); 
    }
    @include respond-to(57.5em) {
      @include span-columns(4, 6);
    }
  } //address
  .phone {
    @include respond-to(33.75em) {
      @include span-columns(2 omega, 6);
    }
    @include respond-to(40em) {
      @include reset-columns(); 
    }
    @include respond-to(57.5em) {
      @include span-columns(2 omega, 6);
    }
  } //phone
  .upcoming-events {
    @include respond-to(40em) {
      @include span-columns(6 omega);
    }
    @include respond-to(56.25em) {
      @include span-columns(5 omega);
    }
    margin-bottom: calc-em(80px);
  } //upcoming-events

  .event-teaser {
    margin-bottom: calc-em(24px);
    .date {
      color: $red;
    } //date
  } //event-teaser
  .teaser-header {
    a {
      color: $white;
    } //a
  } //teaser-header
  .teaser-footer,
  .section-footer {
    font-size: calc-em(14px);
  }

  .section-footer {
    text-transform: uppercase;
  } //section-footer

  .collage {
    clear: both;
    margin-bottom: calc-em(80px);
  } //community-feedback
  
  .twitter-stream {
    margin-bottom: calc-em(80px);
  } //twitter-stream


  .madtree-photo {
    clear: both;
    @include respond-to(55.625em) {
      min-height: 200px;
    }
    img {
      width: 100%;
    }
  } //madtree-photo


  #collage {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;

  }
  #collage img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }

} //index
