body.identity-crisis {
  background: $identity-crisis; 
  @include background($identity-crisis image-url('backgrounds/bg-identity-crisis.png') no-repeat top right);
  .caret {
    border-top-color: $identity-crisis;
  }
  .site-header {
    color: $identity-crisis;
  } //site-header
  .header-toolbar {
    background: $black;
    color: $gray-light;
  }
  .navbar {
    background: rgba(0,0,0,.6);
    &.section-navbar {
      background: rgba(0,0,0,.8);
      a {
        color: $gray-light;
      }
      li.active {
       > a {
          color: $white;
        }
      } //active
    } //section-navbar
    .main-nav li {
      > a {
        color: $white;
      }
      &:nth-child(even) {
        background: rgba(53,53,53,.8);
        @include respond-to(41.25em) {
          background: none;
        }
      }
      &:nth-child(odd) {
        background: rgba(53,53,53,1);
        @include respond-to(41.25em) {
          background: none;
        }
      }
    } //main-nav
  } //navbar
  .navbar-inner {
    .logo {
      @include respond-to(41.25em) {
        @include replace-text(362px, 183px, image-url('img-logo-ic.png') no-repeat top left);         
      }
    }
  }
  .beer-details {
    h2 {
      color: $identity-crisis-alt;
    } //h2 
    p {
      color: $identity-crisis-alt;
    }
  } //beer-details
  .site-footer {
    background: $black;
    a {
      color: $white;
    } //a
  } //site-footer
  .nav-item-header {
    h4 {
      color: $white;
    }
  }
  .nav-item-body {
    color: $white;
  }
  .beer-stats {
    background: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.8);
    th {
      color: $gray-lighter;
    }
  }
} //identity-crisis



