body.lift {
  background: $lift; 
  @include background($lift image-url('backgrounds/bg-lift.png') no-repeat top right);
  .caret {
    border-top-color: $lift;
  }
  .site-header {
    color: $lift;
  }
  .header-toolbar {
    background: $lift-alt;
    background: transparentize($lift-alt, .2);
  }
  .navbar {
    background: $lift-alt;
    background: transparentize($lift-alt, .05);
    &.section-navbar {
      background: $lift-alt; 
      background: transparentize($lift-alt, .2);
      a {
        color: $lift;
      }
      li.active {
       > a {
          color: $white;
        }
        .dropdown-menu > li {
          > a {
            color: $lift-alt;
            &:hover,
            &:focus {
              color: $white;
              background: $lift;
            }
          }
          &.active {
            > a {
              color: $white;
              background: $lift;
            }
          }
        } //dropdown-menu
      } //active
      .dropdown-menu > li {
        > a {
          color: $lift-alt;
          &:hover,
          &:focus {
            color: $white;
            background: $lift-alt;
          }
        }
      } //dropdown-menu
    }
    .main-nav li {
      &:nth-child(even) {
        background: transparentize($lift-alt, .2);
        @include respond-to(41.25em) {
          background: none;
        }
      }
      &:nth-child(odd) {
        background: $lift-alt;
        @include respond-to(41.25em) {
          background: none;
        }
      }
    } //main-nav
  }
  .beer-details {
    h2 {
      color: $white;
      @include text-shadow(#87702F 2px 3px 0);
      letter-spacing: 2px;
    }
    p {
      color: $lift-alt;
    }
  }
  .site-footer {
    background: $lift-alt;
    a {
      color: $lift;
    }
  }
  .nav-item-header {
    h4 {
      color: $white;
    }
  }
  .nav-item-body {
    color: $lift;
  }
  .beer-stats {
    border-color: transparentize($lift-alt, .2);

    background: transparentize($lift-alt, .4);
  }
} //happy-amber



