body.psa {
  @include background($psa image-url('backgrounds/bg-psa.png') no-repeat top right);
  .caret {
    border-top-color: $psa;
  }
  .site-header {
    color: $psa;
  } //site-header
  .header-toolbar {
    background: $psa-alt;
    color: $white;
  }
  .navbar {
    background: $psa-alt;
    &.section-navbar {
      background: $psa-nav;
      a {
        color: $white;
      }
      li.active {
      > a {
          color: $white;
        }
      } //active
      .dropdown-menu > li {
        > a {
          color: $white;
          @include respond-to(41.25em) {
            color: $psa-alt;
          }
          &:hover,
          &:focus {
            color: $white;
            background: $psa;
          }
        }
        &.active {
          > a {
            color: $white;
            background: $psa;
          }
        }
      } //dropdown-menu
    } //section-navbar
    .main-nav li {
      &:nth-child(even) {
        background: rgba(53,53,53,.8);
        @include respond-to(41.25em) {
          background: none;
        }
      }
      &:nth-child(odd) {
        background: rgba(53,53,53,1);
        @include respond-to(41.25em) {
          background: none;
        }
      }
    } //main-nav
  } //navbar
  .navbar-inner {
    .logo {
      @include respond-to(41.25em) {
        @include replace-text(362px, 183px, image-url('img-logo.png') no-repeat top left);
      }
    }
  }
  .beer-details {
    h2 {
      color: $white;
    } //h2
    p {
      color: $white;
    }
  } //beer-details
  .site-footer {
    background: $psa-alt;
    a {
      color: $white;
    } //a
  } //site-footer
  .nav-item-header {
    h4 {
      color: $white;
    }
  }
  .nav-item-body {
    color: $white;
  }
  .beer-stats {
    background: transparentize(darken($psa, 10%), .8);
    border-color: transparentize($psa-alt, .5);

    th {
      color: $gray-lighter;
    }
  }
  .beer-merch {
    background: transparentize(darken($psa, 10%), .8);
    border-color: transparentize($psa-alt, .5);
    h4 {
      color: $psa-alt;
    }
  }
} //psa





