body.taproom {
  .taproom-nav {
    h2 {
      font-size: calc-em(28px);
      line-height: 1em;
      text-align: center;
      margin: 0 0 calc-em(14px, 28px);
    } 
  }
  .nav-list {
    margin-bottom: calc-em(36px);
    $offset-x: -4;
    $offset-y: 0;
    $beer-list: happy-amber, gnarly-brown, psychopathy, identity-crisis, axis-mundi, batch-one, sprye;  
    @for $i from 1 through length($beer-list) {
      $beer: nth($beer-list, $i);
      .#{$beer} {
        display: block;
        text-indent: -9999px;
        @include background(transparent image-url('taproom/spr-beers.png') top left no-repeat);
        width: 76px;
        height: 107px;
        @if $i > 3 {
          $offset-x: 0;
          @if $i >= 4 {
            $offset-x: ($offset-x - ($i - 4) * 82);
          }
          $offset-y: -117px;
        }
        @if $i == length($beer-list) {
          $offset-x: 0;
          $offset-y: -224px;
        }
        background-position: ($offset-x + px) $offset-y;
        $offset-x: ($offset-x - 82);
      } //beer
    } //loop
  }
  .taproom-hours {
    h2 {
      margin: 0;
    }
    strong {
      text-transform: uppercase;
    }  
  }
  .content-area {
    padding: 0;
  }
  .taproom-slideshow {
    li {
      > img {
        width: 100%;
      }
    }
  }
  .growler {
    margin-top: -(calc-em(60px));
    @include background(transparent image-url('taproom/img-growler.png') no-repeat right);
    font-size: calc-em(14px);
    text-align: right;
    line-height: calc-em(20px, 14px);
    padding: calc-em(60px, 14px) 0 calc-em(50px, 14px) 0;
    padding-right: calc-em(120px, 14px);
  }
}
