body.beer {

  &.beer_psychopathy {
    .content-body-header h2,
    .content-area-footer .beer-summary { color: #998D2D; }
  }
  


  .main-content {
    @extend %group;
  }
  
  .sidebar-nav {
    .nav-item {
      @each $beer in happy-amber, psychopathy, gnarly-brown, identity-crisis, axis-mundi, batch-one, sprye {
        .#{$beer} {
          @include replace-text(110px, 150px, image-url("beer/#{$beer}/tap.png") no-repeat top left);
          background-size: contain;
        }
      } //end loop
    }     
  }
 

  .content-area-image {
  }

  .content-area-body {
    @include span-columns(4 omega, 9);
  }
  .content-area-image {
    @include span-columns(5, 9);
    position: relative;
    padding-left: calc-em(20px); 
    .can {
      position: absolute;
      top: 20px;
    }
    .front-can {
      z-index: 2;
    }
    .back-can {
      z-index: 1;
      right: 0;
    }
  } //content-area-image

  .content-body-header {
    padding-top: calc-em(75px);
    padding-bottom: calc-em(5px);
    @include background(transparent image-url('beer/psychopathy/img-pint.png') no-repeat top right);
    h2 {
      font-size: calc-em(34px);
      margin: 0;
    }
  } //content-body-header

  .content-body {
    p {
      font-size: calc-em(14px);
      line-height: calc-em(20px, 14px);
    }
  }

  .content-area-footer {
    clear: both;
    @include span-columns(5.5 omega, 9);
    border-top: 1px solid $black;
    .beer-summary {
      margin: 0;
      font-family: $headline-alt-font-family;
      text-transform: uppercase;
      text-align: justify;
      font-size: .1px;
      font-weight: 400;
      &:after {
        width: 100%;
        content: '';
        display: inline-block;
      }
      > span {
        font-size: calc-em(18px, .1px);
        display: inline-block;
      }
    }
  }

}
