---
current_page: "assets"
---

<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing Employees' />
  <meta property="og:image" content='http://madtreebrewing.com/images/map.png' />
  <meta property="og:url" content='http://madtreebrewing.com/community/employees.html'/>
  <meta property="og:description" content='Meet the employees of MadTree Brewing.' />
  <meta name="description" content='Meet the employees of MadTree Brewing.' />
<% end %>

<% content_for :page_classes do %>
  interior assets
<% end %>

<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
<% end %>

<div class="container">
  <nav class="asset-nav">
    <ul class="navlist">
      <li><a href="#logos">Logos</a></li>
      <li><a href="#pressphotos">Press Photos</a></li>
      <li><a href="#salessheets">Sales Sheets</a></li>
      <li><a href="#canartwork">Flat Can Artwork</a></li>
      <li><a href="#canphotos">Can Photos</a></li>
      <li><a href="#tapstickers">Tap Stickers</a></li>
    </ul> <!-- /navlist -->
  </nav> <!-- /asset-nav -->

  <section id="logos" class="asset-section">

  </section> <!-- /asset-section -->

  <section id="pressphotos" class="asset-section">

  </section> <!-- /asset-section -->

  <section id="salessheets" class="asset-section">

  </section> <!-- /asset-section -->

  <section id="canartwork" class="asset-section">

  </section> <!-- /asset-section -->

  <section id="canphotos" class="asset-section">

  </section> <!-- /asset-section -->

  <section id="tapstickers" class="asset-section">

  </section> <!-- /asset-section -->
</div> <!-- /container -->
