<%
  founders  = data.community.founders.details
  artists   = data.community.artists.details
  partners  = data.community.partners.details
  charities = data.community.charities.details
%>

<nav class="community-nav sidebar-nav">
  <ul class="nav-list">
    <% founders.each do |founder| %>
      <li class="nav-item nav-header">
    <% end %>
      <%= link_to 'Founders', '#' %>
      <ul class="nav subnav ">
        <% founders.each do |founder| %>
          <li class="subnav-item">
          <%= link_to founder.name, founder.url, title: founder.name, class: current_page.url.include?(founder.url) ? 'active' : '' %> 
        </li>
        <% end %>
      </ul> <!-- /subnav -->
    </li> <!-- /nav-header -->
  </ul> <!-- /nav -->
</nav> <!-- /community-nav -->

