---
current_page: "community"
sub_page: "videos"
---

<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing Videos' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/community/videos.html'/>
  <meta property="og:description" content='Checkout some videos we made and others made about us.' />
  <meta name="description" content='Checkout some videos we made and others made about us.' />
<% end %>


<% content_for :page_classes do %>
  interior videos
<% end %>
<% content_for :site_header do %>
  <%= partial '../partials/interior-nav' %>
  <%= partial '../partials/section-nav-community' %>
<% end %>

<% videos = data.videos %>

<div class="container">
  <h2>Videos</h2>
  <div class="all-videos">
    <% videos.each do |video| %>
      <div class="video">
        <%= link_to image_tag("http://img.youtube.com/vi/#{video.id}/maxresdefault.jpg"), "https://www.youtube.com/watch?v=#{video.id}" %>
        <%= link_to content_tag(:h3, video.title), "https://www.youtube.com/watch?v=#{video.id}" %>
      </div> <!-- /video -->
    <% end %>
  </div> <!-- /all-videos -->
</div>
