---
title: Welcome to Middleman
---

<section class="news">
  <header class="news-header">
    <h3>News &amp; Info</h3> 
    <ul class="social">
      <li>
        <%= link_to "<i class='icon-twitter'></i>", "#" %>
      </li>
      <li>
        <%= link_to "<i class='icon-facebook'></i>", "#" %>
      </li>
    </ul> <!-- /social -->
  </header> <!-- /news-header -->
  <section class="news-articles">
      <article class="news-article">
        <div class="hours">
          <h4>Tap Room Hours</h4>
          <p><strong>M&ndash;F</strong>: 11am &ndash; 7pm</p>
          <p><strong>SAT</strong>: 11am &ndash; 7pm</p>
          <p><strong>SUN</strong>: 11am &ndash; 7pm</p>
        </div>
        <h4>Address &amp; Phone Number</h4>
        <div class="address">
          <span class="">455 Duck Creek Rd.</span>
          <span>Cincinnati, OH</span>
          <span>513.555.5555</span>

        </div>
    </article> <!-- /news-article -->
  </section>
</section> <!-- /news -->

<section class="photo-grid">
  <%= image_tag 'img-home.png' %>
</section> <!-- /photo-grid -->

<div class="cans">

      <%= image_tag 'home/img-cans.png', alt: '' %>
</div>
