---
title: Welcome to Middleman
---

<section class="news">
  <header class="news-header">
    <h3>News &amp; Events</h3> 
    <ul class="social">
      <li>
        <%= link_to "<i class='icon-twitter'></i>", "#" %>
      </li>
      <li>
        <%= link_to "<i class='icon-facebook'></i>", "#" %>
      </li>
    </ul> <!-- /social -->
  </header> <!-- /news-header -->
  <section class="news-articles">
    <% 3.times do %>
      <article class="news-article">
      <p>Aenean risus ligula, iaculis a lacus ac, mattis rhoncus tortor. Aliquam lobortis, sem a pulvinar condimentum, mi nisi varius leo, in ultricies nisl ipsum sed sapien.</p>
    </article> <!-- /news-article -->
  <% end %>
  </section>
</section> <!-- /news -->

<section class="photo-grid">
  <%= image_tag 'img-home.png' %>
</section> <!-- /photo-grid -->

<div class="cans">

      <%= image_tag 'home/img-cans.png', alt: '' %>
</div>
