---
title: Welcome to Middleman
---

<section class="news">
  <header class="news-header">
    <h3>News &amp; Events</h3> 
  </header> <!-- /news-header -->
  <% 4.times do %>
  <article class="news-article">
    <p>Aenean risus ligula, iaculis a lacus ac, mattis rhoncus tortor. Aliquam lobortis, sem a pulvinar condimentum, mi nisi varius leo, in ultricies nisl ipsum sed sapien.</p>
  </article> <!-- /news-article -->
  <% end %>
</section> <!-- /news -->

<section class="photo-gallery">

</section> <!-- /photo-gallery -->
